 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap');

 :root {
    --primary-color: #131318;
    --secondary-color:  rgba(19, 19, 24, 0.70);
    --font-family: 'Mulish', sans-serif;
    --contrast-color:#FF5400;
    --button-border-radius: 8px;
    --img-border-radius: 16px;
    --line-height: 1.5em;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}
p,ul{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height); 
}
button{
    border-radius: var(--button-border-radius);
    background: var(--contrast-color);
    border: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    padding: 13px 30px;

}
.container{
    width: 83%;
    max-width: 1170px;
    margin: auto;
}
section ,footer{
    margin-top: 50px!important;
}
.section-title{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container img{
    width: 40px;
}
.logo-container p{
    padding-left: 13px;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 800;
}
.logo-container .logo-title{
    color: var(--contrast-color);
}


/* ----------------popular tour style start----------- */
.popular-tour{
    display: flex;
    justify-content: space-between;
}
.popular-tour-description{
    width: 60%;
}
.popular-tour-img{
    width: 40%;
}
.popular-tour .popular-tour-description{
    padding-right: 5%;
}
/* .popular-tour .popular-tour-description .section-title{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
} */
.popular-tour .popular-tour-description p,
.popular-tour .popular-tour-description ul{
    margin-top: 12px;
}
.popular-tour .popular-tour-description ul {
    padding-left: 25px;
    padding-right: 2%;
}
.popular-tour .popular-tour-description ul li {
    padding-top: 15px;
}
.popular-tour .popular-tour-description button{
    margin-top: 20px;
}
.popular-tour .popular-tour-img img{
    border: var(--img-border-radius);
    width: 100%;
    height: 100%;
}

/* ----------------popular tour style end----------- */

/* ----------------Choose Your Destination style start----------- */

.choose-destination-section .choose-destination-brief .section-title{
    text-align: center;
}
.choose-destination-section .choose-destination-brief .section-short-brief{
    margin: 12px auto;
    text-align: center;
    width: 700px;
}
.choose-destination-container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-top:48px;
}
.choose-destination-container-grid .card{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.choose-destination-container-grid .card .title{
    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    position: relative;
    top: 45%;
}
.choose-destination-container-grid .maldives {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    background-image: url('../assets/Rectangle 5.png');
    height: 300px;
}
.choose-destination-container-grid .indonesia {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    background-image: url('../assets/Rectangle 8.png');
    height: 300px;
}
.choose-destination-container-grid .srilanka{
    grid-column:1 / span 4;
    grid-row: 2 / span 1;
    background-image: url('../assets/Rectangle 6.png');
    height: 280px;
}
.choose-destination-container-grid .north-america{
    grid-column: 5 / span 5;
    grid-row: 2 / span 1;
    background-image: url('../assets/Rectangle 7.png');
    height: 280px;
}
.choose-destination-container-grid .kashmir{
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
    background-image: url('../assets/Rectangle 9.png');
    height: 280px;
}

.choose-destination-container-grid .bangladesh{
    grid-column: 1 / span 5;
    grid-row: 3/ span 1;
    background-image: url('../assets/Rectangle 11.png');
    height: 300px;
}
.choose-destination-container-grid .bandarban{
    grid-column: 6 / span 7;
    grid-row: 3/ span 1;
    background-image: url('../assets/Rectangle 10.png');
    height: 300px;
}
/* ----------------Choose Your Destination style end----------- */

/* ----------------why choode us style start----------- */

.choose-us-section .choose-us-description .section-title{
    text-align: center;
}
.choose-us-section .choose-us-description p{
    margin: 12px auto;
    text-align: center;
    width: 700px;
}
.choose-us-container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-top:48px;
}

.choose-us-container-grid .choose-us-card {
    border-radius: 16px;
    padding: 32px;
    
}
.choose-us-container-grid h3{
    margin: 12px auto;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
}
.choose-us-container-grid .choose-us-card p{
    margin: 0;
    text-align: start!important;
    width: 100%;
}

.choose-us-container-grid .hotels {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-us-container-grid .service {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-container-grid .guarentee {
    grid-column: 4/ span 6;
    grid-row: 2 / span 1;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* ----------------why choode u style end----------- */


/* ----------------footer style start----------- */

footer{
    background-color: rgba(19, 19, 24, 0.05);
    padding: 80px 0;
}
.footer-container {
    width: 53%;
    max-width: 750px;
    margin: auto;
    text-align: center;
}
.footer-container .logo-container{
    margin-bottom: 7px;
}
.footer-container .media-container{
    padding-top: 32px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.footer-container .media-container a{
   text-decoration: none;
   color: var(--primary-color);
   height: 24px;
   padding-right: 16px;
}
.footer-container .media-container a .fab {
    font-size: 16px;
 }


/* ----------------footer style end----------- */