 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap');

 :root {
    --primary-color: #131318;
    --secondary-color:  rgba(19, 19, 24, 0.70);
    --white:#FFF;
    --font-family: 'Mulish', sans-serif;
    --contrast-color:#FF5400;
    --button-border-radius: 8px;
    --img-border-radius: 16px;
    --line-height: 1.5em;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}
p,ul{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height); 
}
button{
    border-radius: var(--button-border-radius);
    background-color: var(--contrast-color);
    border: none;
    outline: none;
    color:var(--white);
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    padding: 12px 27px;
    transition: background-color 0.8s;

}
button:hover{
    background-color: var(--secondary-color);
}
.container{
    width: 83%;
    max-width: 1170px;
    margin: auto;
}
section ,footer{
    margin-top: 100px!important;
}
.section-title{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    
}
.logo-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-container img{
    width: 40px;
}
.logo-container p{
    padding-left: 13px;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 800;
}
.logo-container .logo-title{
    color: var(--contrast-color);
}
/* ----------------header style start-------------- */
.header-section{
    padding-top:20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section .menu-container a{
    text-decoration: none;
    padding-right: 40px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-right: 40px;
}
.header-section .menu-container a:last-child {
    padding-right: 0!important;
}
.header-section .menu-container a:hover{
    color: var(--contrast-color);
}
.header-section .menu-container a:active{
    color: var(--contrast-color);
}
/* ----------------header style end-------------- */
/* ---------------hero style start---------------- */
.hero-section{
    background-image: url(../assets/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    
}
.hero-section .hero-content-container{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 500px;
    border-radius: 16px;
    padding: 100px;
}
.hero-section .hero-content-container h1{
    text-align: center;
    color: var(--white);
    font-size: 55px;
    font-weight: 800;
}
.hero-section .hero-form-container{
    width: 82%;
    margin: auto;
    margin-top: 30px;
}
.hero-section .hero-content-container .hero-description-container{
    margin: auto;
    width:66%;
    margin-top: 18px;
}
.hero-section .hero-content-container .hero-description{
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height);
}
.hero-section .hero-form-container-form{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    gap: 24px;
}
.hero-section .hero-form-container-form input ,
.hero-section .hero-form-container-form select{
    border-radius: 8px;
    background: var(--white);
    padding: 16px 20px 16px 16px;
    border: none;
    outline: none;
    color: var(--secondary-color);
    width:180px;
}
.disable{
    cursor: none;
}
.hero-section .hero-form-container-form option{
    border: none;
    outline: none;
    border-radius: 8px!important;
}
.hero-section .hero-form-container-form button{
    border-radius:8px;
    background-color: var(--contrast-color);
    border: none;
    outline: none;
    color:var(--white);
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 27px;
    transition: background-color 0.8s;

}
.hero-section .hero-form-container-form button p img{
    top: 4px;
    position: relative;
    padding-right: 5px;
}
/* ----------------hero style end -------------- */
/* ----------------popular tour style start----------- */
.popular-tour{
    display: flex;
    justify-content: space-between;
}
.popular-tour-description{
    width: 60%;
}
.popular-tour-img{
    width: 40%;
}
.popular-tour .popular-tour-description{
    padding-right: 5%;
}
.popular-tour .popular-tour-description p,
.popular-tour .popular-tour-description ul{
    margin-top: 12px;
}
.popular-tour .popular-tour-description ul {
    padding-left: 25px;
    padding-right: 2%;
}
.popular-tour .popular-tour-description ul li {
    padding-top: 15px;
}
.popular-tour .popular-tour-description button{
    margin-top: 20px;
}
.popular-tour .popular-tour-img img{
    border: var(--img-border-radius);
    width: 100%;
    /* height: 100%; */
}

/* ----------------popular tour style end----------- */

/* ----------------Choose Your Destination style start----------- */

.choose-destination-section .choose-destination-brief .section-title{
    text-align: center;
}
.choose-destination-section .choose-destination-brief .section-short-brief{
    margin: 12px auto;
    text-align: center;
    width: 700px;
}
.choose-destination-container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-top:48px;
}
.choose-destination-container-grid .card{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.choose-destination-container-grid .card .title{
    color:var(--white);
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    position: relative;
    top: 45%;
}
.choose-destination-container-grid .maldives {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    background-image: url('../assets/Rectangle 5.png');
    height: 300px;
}
.choose-destination-container-grid .indonesia {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    background-image: url('../assets/Rectangle 8.png');
    height: 300px;
}
.choose-destination-container-grid .srilanka{
    grid-column:1 / span 4;
    grid-row: 2 / span 1;
    background-image: url('../assets/Rectangle 6.png');
    height: 280px;
}
.choose-destination-container-grid .north-america{
    grid-column: 5 / span 5;
    grid-row: 2 / span 1;
    background-image: url('../assets/Rectangle 7.png');
    height: 280px;
}
.choose-destination-container-grid .kashmir{
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
    background-image: url('../assets/Rectangle 9.png');
    height: 280px;
}

.choose-destination-container-grid .bangladesh{
    grid-column: 1 / span 5;
    grid-row: 3/ span 1;
    background-image: url('../assets/Rectangle 11.png');
    height: 300px;
}
.choose-destination-container-grid .bandarban{
    grid-column: 6 / span 7;
    grid-row: 3/ span 1;
    background-image: url('../assets/Rectangle 10.png');
    height: 300px;
}
/* ----------------Choose Your Destination style end----------- */

/* ----------------why choode us style start----------- */

.choose-us-section .choose-us-description .section-title{
    text-align: center;
}
.choose-us-section .choose-us-description p{
    margin: 12px auto;
    text-align: center;
    width: 700px;
}
.choose-us-container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-top:48px;
}

.choose-us-container-grid .choose-us-card {
    border-radius: 16px;
    padding: 32px;
    
}
.choose-us-container-grid h3{
    margin: 12px auto;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
}
.choose-us-container-grid .choose-us-card p{
    margin: 0;
    text-align: start!important;
    width: 100%;
}

.choose-us-container-grid .hotels {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-us-container-grid .service {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-container-grid .guarentee {
    grid-column: 4/ span 6;
    grid-row: 2 / span 1;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* ----------------why choode u style end----------- */

/* ----------------Deals and discount style start----------- */

.deals-discount-section .choose-us-description .section-title{
    text-align: center;
}
.deals-discount-section .choose-us-description p{
    margin: 12px auto;
    text-align: center;
    width: 700px;
}
.deals-discount-container{
    margin-top:48px;
}
.deals-discount-section .deals-discount-container .tour-to-satorini-grid{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 50px;
    background-image: url(../assets/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    /* height: 435px; */
    margin-bottom: 24px;
}
.deals-discount-section .deals-discount-container .tour-to-satorini-grid .tour-to-satorini-content-container{
    grid-column: 7 / span 6;
    grid-row: 1/ span 1;
    border-radius: 16px;
    border: 2px solid var(--white);
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(0.5px);
    padding: 50px;

}
.deals-discount-section .tour-to-satorini-description h3{
    margin: 0 auto 12px;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
}
.deals-discount-section .tour-to-satorini-description p{
    margin: 0;
    text-align: start!important;
    width: 100%;
}
.deals-discount-section .tour-to-satorini-description .price{
    color: var(--contrast-color);
    font-size: 16px;
    font-weight: 800;
    padding: 5px 0 10px 0;
}
.tour-to-satorini-list-content {
    display: flex;
}
.tour-to-satorini-list-content p{
    text-align: start!important;
}
.tour-to-satorini-list-content p >.fas{
    color: var(--contrast-color);
}
.deals-discount-section .deals-discount-container .tour-to-satorini-second-grid{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 50px;
    background-image: url(../assets/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    /* height: 435px; */
    margin-bottom: 24px;
}
.deals-discount-section .deals-discount-container .tour-to-satorini-second-grid .tour-to-satorini-second-content-container{
    grid-column: 1 / span 6;
    grid-row: 1/ span 1;
    border-radius: 16px;
    border: 2px solid var(--white);
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(0.5px);
    padding: 50px;
}
.deals-discount-button-container{
    text-align: center;
}
/* ----------------Deals and discount style end----------- */
/* ----------------simple perfect place style start---------------- */
.perfect-place-description{
    width: 50%!important;
}
.perfect-place-description video{
    border-radius: 16px;
    width: 100%;
}

/* ----------------simple perfect place style end---------------- */
/* --------------Newsletter style start-------------- */
.newsletter-section{
    display: flex;
    gap: 24px;
    margin-top: 100px!important;
    margin-bottom:100px;
}
.newsletter-section .newsletter-form-container{
    width: 40%;
    border-radius: 16px;
    border: 1px solid var(--contrast-color);
    padding: 30px;
}
.newsletter-section .newsletter-form-container h2{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
}
.newsletter-section .newsletter-form-container .newsletter-description{
    width: 90%;
    margin-top: 10px;
}
.newsletter-section .popular-tour-img{
    width: 60%;
    position: relative;
}
.newsletter-section .popular-tour-img .save-container{
    position: absolute;
    text-align: center;
    border-radius: 16px;
    background: var(--contrast-color);
    padding: 20px;
    right: 3px;
    transform: rotate(-29.628deg);
    bottom: 65px;
}
.newsletter-section .popular-tour-img .save-container .travel-name{
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
}

.newsletter-section .popular-tour-img .save-container .save-percentage{
    color: var(--white);
    font-size: 32px;
    font-weight: 800;
}

.newsletter-section .popular-tour-img img{
    width: 100%;
}
.newsletter-section .newsletter-form{
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    margin-top: 20px;
    padding-top: 20px;
}
.newsletter-section .newsletter-form input{
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 20px;
    width: 100%;
    margin-bottom: 16px;
}
.newsletter-section .newsletter-form input[type="button"]{
    color: var(--white);
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    background-color: var(--contrast-color);
    transition: background-color 0.8s;

}
.newsletter-section .newsletter-form input[type="button"]:hover{
    background-color: var(--secondary-color);

}
/* ------------------Newsletter style end------------ */

/* ----------------Blog style start----------- */

.blog-section .choose-us-description .section-title{
    text-align: center;
}
.blog-section .choose-us-description p{
    margin: 12px auto;
    text-align: center;
    width: 700px;
}
.blog-section .blog-container{
    display: flex;
    gap: 10px;
    margin-top:48px;
}

.blog-section .blog-container .card .card-head img{
    width: 100%;
}
.blog-section .blog-container .card{
    padding: 10px;
}
.blog-section .blog-container .card:hover {
    box-shadow: 0 0 12px 0 rgba(6, 6, 6, 0.3);
    border-radius: 16px;
    border: none;
    
}
.blog-section .blog-container .card .card-body{
    padding: 10px 20px 10px 5px;
}
.blog-section .blog-container .card .card-body h2 a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    transition: color 0.5s;

}
.blog-section .blog-container .card .card-body h2 a:hover{
    color: var(--contrast-color);
    
}
.blog-section .blog-container input[type="button"]{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: var(--contrast-color);
    transition: background-color 0.8s;

}
.blog-section .blog-container input[type="button"]:hover{
     background-color:#FF9843;
}

/* ----------------Blog style end----------- */
/* ----------------footer style start----------- */

footer{
    background-color: rgba(19, 19, 24, 0.05);
    padding: 80px 0;
}
.footer-container {
    width: 53%;
    max-width: 750px;
    margin: auto;
    text-align: center;
}
.footer-container .logo-container{
    margin-bottom: 7px;
}
.footer-container .media-container{
    padding-top: 32px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.footer-container .media-container a{
   text-decoration: none;
   color: var(--primary-color);
   height: 24px;
   padding-right: 16px;
}
.footer-container .media-container a .fab {
    font-size: 16px;
 }


/* ----------------footer style end----------- */